.jsx {
  &.support.class.component {
    color: @red;
  }

  &.punctuation {
    &.definition.tag {
      color: @foreground;
    }

    &.section.embedded {
      color: @yellow;
      background: none;
    }
  }
}
